<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container">
      <ul>
        <li>
          Client:Angular
          <ul>
            <li>All modules are featured modules</li>
            <li>Filter to all moudels using service</li>
            <li>Movies module load in lazy loading manner</li>
            <li>Can activate guard is use to prevent entering to a module without login</li>
            <li>Can deactivate guard is use to prevent losing data when leaving the page</li>
            <li>All modules using preload guard to load data before rendering the GUI</li>
            <li>Animating route transitions</li>
            <li>Using spinner while waiting data will be loaded</li>
            <li>Adding token to request using interseptor </li>
            <li>Using <a href="https://getbootstrap.com/">bootstrap</a> && 
              <a href="https://material.angular.io/guide/getting-started">material</a> 
              to style the application </li>
          </ul>
        </li>
        <li>
          Server:Node
          <ul>
            <li>Using two nodes one for users and one for movies-subscriptions</li>
            <li>DB is mongo</li>
            <li>Users data save in files</li>
          </ul>
        </li>
        <li>
          Note
          <ul>
             <li>Excercize files attached to these projeects</li>
            </ul>
         </li>
      </ul>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Dani Shitrit</h3>
      </div>

    </div>
  </div>
</div>